body {
  font-size: 16px;
  background-color: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
  background: rgb(145, 143, 143);
  border-radius: 0px;
  padding: 0px;
  border: 0px;
}

.navbar-header {
  height: 80px;
}
.navbar-brand {
  padding: 25px 0px;
}

#collapsable-nav {
  border: 0px;
}

.navbar-brand h1 {
  /*Rest. Name */
  line-height: 0.8;
  color: #000;
  margin: 0px;
  
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background: rgb(229, 227, 227);
}
#nav-list a {
  color: rgb(9, 9, 9);
  text-align: center;
  border-bottom: 1px solid #000;
}
#nav-list a:hover {
  background: rgba(153, 151, 151, 0.5);
}

#nav-list a span {
  font-size: 1.8em;
  
}
#nav-list a i {
padding-right: 10px;  

}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/** END OF HEADER **/

/** MAIN **/

h1{
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

#menu-items h3{
  background: rgb(137, 137, 137);
  margin-bottom: 0px;
  padding-top: 18px;
  font-weight: bold;
}

#menu-items div{
  border: 1px;
  background: rgb(255, 255, 255);
}
#menu-items p{
    background: rgb(137, 137, 137);
    margin-top: 0px;
    padding: 5px 18px;
    
}

#to-top{
text-decoration: none;
border-radius: 5px;
background-color: rgb(219, 217, 217);
color: rgb(102, 101, 101);
width: 100px;
text-align: center;
margin-top: 10px;
}



/** END OF MAIN **/