* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

h1 {
  text-align: center;
  margin-top: 35px;
}

.menu-items {
  margin: 30px;
 
}

.item {
  background: rgb(174, 172, 172);
  float: left;
  width: 350px;
  padding: 5px 30px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
  
}

h3 {
  background: rgb(215, 201, 201);
  width: 150px;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 10px;
  position: absolute;
  top: -1px;
  right: -1px;
}
.item > p {
  padding-top: 30px;
  padding-bottom: 20px;
}

#chicken h3 {
  background: rgb(245, 153, 153);
}
#beef h3 {
  background: rgb(182, 47, 47);
}

#sushi h3{
  background: rgb(245, 220, 137);
}

@media (min-width: 1200px) {
  .item {
    width: 31%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .item {
    width: 47%;
  }
  #sushi{
    width: 96%;
  }

}


@media (max-width: 991px) {
  .item {
    width: 100%;
  }
}
